.App .mainLogin {
    width: 100%;
    display: flex;
    align-items: center;
    height: 90vh;
    justify-content: center;
}


.mainLogin .card {
    height: 20rem;
    width: 30rem;
}

.error {
color: red;  
height: 10px;  
margin-bottom: 10px;
}