.App .mainSignUp {
    width: 100%;
    display: flex;
    align-items: center;
    height: 90vh;
    justify-content: center;
}


.mainSignUp .card {
    height: 27rem;
    width: 30rem;
}

.error {
color: red;  
height: 10px;  
margin-bottom: 10px;
}